html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.avatar {
  transform: translateY(-3px);
  border-radius: 50%;
}

.navbar-light .navbar-nav .nav-link {
  display: flex;
  align-items: center;
}

.bt-active {
  cursor: no-drop !important;
}

/* Loading */
@import url("./Loading.mudule.css");
@import url("./Product.component.css");
@import url("./Profile.page.css");